.expand {
    display: inline-block;
    width: 100px;
}

.custom-header {
    background-color: #ffde25;
}

.stretch {
    padding-top: 50px;
    padding-bottom: 50px;
}


.middle {
    text-align: center;
}

.tx-yellow {
    color: #ffde25;
}